<!-- START: footer -->
<footer role="contentinfo" class="probootstrap-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="probootstrap-footer-widget">
          <h3>About Tusake</h3>
          <p>We are dedicated to help troubled youth in house searching and assist landlords in getting tenants all at the comfort of their homes.</p>
          <p><a href="/about_us" class="link-with-icon">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
        <div class="probootstrap-footer-widget">
          <h3>Connect With Us</h3>
          <ul class="probootstrap-footer-social">
            <li><a href=""><i class="icon-google2"></i></a></li>
            <li><a href=""><i class="icon-instagram2"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div class="probootstrap-footer-widget">
          <h3>Recent Post</h3>
          <ul class="probootstrap-blog-list">
            <li>
              <a href="#">
                <figure><img src="img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="text">
                  <h4>River named Duden flows</h4>
                  <p>A small river named Duden flows by their place</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure><img src="img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="text">
                  <h4>River named Duden flows</h4>
                  <p>A small river named Duden flows by their place</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <figure><img src="img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></figure>
                <div class="text">
                  <h4>River named Duden flows</h4>
                  <p>A small river named Duden flows by their place</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <a href="#" class="js-backtotop">Back to top</a>
    </div>
  </div>
</footer>
<!-- END: footer -->
