<!-- START: header -->
<!-- <div class="linko" style="background:black; text-align:right;">
  <a href="/users/sign_in">Login &nbsp;</a>
  <a href="/users/sign_up">&nbsp; Sign up &nbsp;</a>
</div> -->
<header role="banner" class="probootstrap-header">
  <div class="container-fluid">
      <a href="/" class="probootstrap-logo">Tusake<span>.</span></a>

      <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
      <div class="mobile-menu-overlay"></div>

      <nav role="navigation" class="probootstrap-nav hidden-xs">
        <ul class="probootstrap-main-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/listings">Listings</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="/listings/new" class="btn btn-ghost">&nbspList a property&nbsp</a></li>
        </ul>
        <div class="extra-text visible-xs">
          <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
          <h5>Social</h5>
          <ul class="social-buttons">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-instagram2"></i></a></li>
          </ul>
          </div>
      </nav>
  </div>
</header>
<!-- END: header -->
