<div class="cdf"></div>
<div class="container-fluid">
  <section id="next-section" class="probootstrap-section">
    <div class="container">
      <h1>Choose your method of Payment</h1><br>
      <ul>
        <li>
          MPESA
        </li>
      </ul>
      <h3 style="text-align:center;">Please pay the exact amount to complete the subscription. <br> After successful payment, key in the mpesa REF no and amount in the form below</h3>
      <div class="mpesa">
        <div class="mpesa-logo">
          <%= image_tag 'mpesa-logo.png', class:"center" %>
        </div>
        <h3>Paybill number</h3>
        <h4><mark>857266</mark></h4>
        <br>
        <h3>Amount</h3>
        <h4><mark><%= @subscription.followable.price %></mark></h4><br>
      </div>
      <%= render 'form' %>
    </div>
  </section>
</div>
